body {
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-weight: 800;
    margin-top: 0;
}

a {
    color: #000000;
}

.container {
    overflow: hidden;
    max-width: 992px;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px;
}

.row {
    display: flex;
    width: 100%;
    min-width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-left: -10px;
    margin-right: -10px; */
}

.party-header {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.party-header img {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50px;
    margin-right: 28px;
}

.party-header h1 {
    color: black;
    font-size: 42px;
    line-height: 1;
    margin: 5px 0;
}

.party-header p {
    margin: 5px 0;
}

.col {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}

.col:nth-child(3n-1) {
    padding-left: 20px;
    padding-right: 20px;
}

.col-third {
    width: calc(33.333% - 20px);
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.sub-header {
    margin-top: 50px;
}

.sub-header h1 {
    color: #ed1c24;
    font-size: 50px;
    line-height: unset;
    text-align: center;
}

.logo {
    width: 66px;
    height: 101px;
    margin-right: 15px;
}

.logo-anchor {
    text-decoration: none !important;
}

.menu {
    flex-direction: column; 
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0;
}

.menu:first-child {
    display: flex;
}

.menu .faq,
.menu .democracy-festival {
    font-size: 20px;   
}

/* .menu .faq {
    margin-right: 30px;
} */

.menu .democracy-festival {
    color: #ed1c24;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 6px;
}

@media (max-width: 992px) {
    .menu {
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .menu:first-child {
       font-size: 16px;
       line-height: 20px;
    }
}


.wordslogo {
    color: #000000;
    font-family: 'freesansbold';
    font-size: 67px;
    line-height: 58px;
}

.wordslogo:nth-child(2) {
    color: #ed1c24;
}

.logo-small {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo-small .logo {
    width: 30px;
    height: 40px;
    margin-right: 15px;
}

.logo-small .wordslogo {
    font-size: 33px;
    line-height: 1;
}

.card {
    border: 3px solid #ed1c24;
    padding: 28px;
    position: relative;
    overflow: hidden;
    flex: 1;
}

.card h1 {
    margin-top: 0;
}

.card p {
    font-size: 16px;
}

.instructions {
    color: #000000;
    font-family: "linlibertine-bold-italic";
    font-size: 20px !important;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    position: absolute;
    left: 28px;
    top: 49px;
    margin: 0;
}

.instructions.longtext {
    top: 26px;
}

.card-button {
    width: 79px;
    height: 79px;
    position: absolute;
    right: 28px;
    top: 27px;
    cursor: pointer;
}

.card-button svg {
    pointer-events: none;
    display: none;
}

.card-button .play-svg {
    display: block;
}

.publish {
    display: block;
    position: absolute;
    font-family: 'freesansbold', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    top: 50px;
    visibility: hidden;
    cursor: pointer;
}

.repeat {
    display: block;
    position: absolute;
    font-family: 'freesansbold', sans-serif;
    font-size: 12px;
    line-height: 14.67px;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    top: 50px;
    right: 29px;
    visibility: hidden;
    cursor: pointer;
}

.divider.divider-left {
    background-position: left center;
}

.divider.working-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider-small {
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px 0;
}

.grey-box-text {
    margin: 40px 0;
}

.grey-box-text span {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 16px;
    font-family: 'linlibertine', sans-serif;
}

.working-group-header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.working-group-header a {
    text-decoration: none;
}

.working-group-header a:hover {
    text-decoration: underline;
}

.working-group-header .logo {
    height: 40px;
    width: unset;
    margin-right: 10px;
    /*background-image: url('https://s3.fr-par.scw.cloud/djnd/glas-ljudstva/svg/glasljudstva-divider.svg');*/
    /*background-position: left center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.working-group-header h1 {
    margin-left: 15px;
    color: black;
    /* text-decoration: underline; */
}

.working-group-header.working-group {
    margin-top: 30px;
}

.working-group-header.working-group h1 {
    font-size: 32px;
}

.demand-header {
    margin-top: 60px;
}

.demand-header h1 {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 0;
}

.grey-box-text.demand-grey-box {
    margin-top: 0;
}

.demand-agree,
.demand-dont-agree {
    margin-left: 32px;
    display: flex;
}

.demand-agree {
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.demand-dont-agree {
    margin-bottom: 48px;
    align-items: flex-start;
}

.demand-dont-agree .party-comment {
    background-color: #f3f3f3;
    padding: 24px;
    font-family: 'linlibertine', sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

@media (max-width: 767px) {
    .demand-dont-agree {
        flex-wrap: wrap;
    }

    .demand-dont-agree .party {
        width: 100%;
    }

    .demand-dont-agree .party-comment {
        width: 100%;
    }
}

.demand-agree .party,
.demand-dont-agree .party {
    display: inline-flex;
    align-items: center;
}

.demand-agree .party img,
.demand-dont-agree .party img {
    border: 2px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.demand-agree .party span,
.demand-dont-agree .party span {
    font-size: 12px;
    width: 70px;
    margin-left: 5px;
    margin-right: 10px;
}

.demand-agree .party span a,
.demand-dont-agree .party span a {
    text-decoration: none;
}


.footer {
    background-color: #f3f3f3;
    margin-top: 100px;
}

.footer p {
    font-family: 'freesansbold';
    width: 100%;
    text-align: right;
    font-size: 12px;
}

form {
    width: 100%;
}

input,
textarea {
    width: calc(100% - 30px);
    border: 1px solid black;
    line-height: 24px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}



button {
    cursor: pointer;
}

.registration {
    justify-content: center;
    margin-top: 40px;
}

.registration input,
.registration button {
    width: 100%;
}

@media (max-width: 1032px) {
    .wordslogo {
        font-size: 32px;
    }

    .intro-text {
        width: 100%;
        flex-shrink: 0;
        font-size: 16px;
        line-height: 22px;
    }

    .row {
        flex-wrap: wrap;
    }

    .col {
        width: 100%;
        flex-shrink: 0;
    }

    .col:nth-child(3n-1) {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
    }
}

.frame-header {
    flex-wrap: nowrap;
}

.frame-header .col {
    width: unset;
}

@media (max-width: 992px) {
    .frame-header {
        flex-direction: column-reverse;
    }
}

.demand-description {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 0;
}

.demand-description strong {
    font-weight: 700;
    font-size: 20px;
}

/* STRANKE KVIZ SUBPAGE */
.stranke {
    margin-top: 20px;
}

.stranke .sidebar {
    min-width: 300px;
    max-width: 300px;
    margin-right: 30px;
}

.stranke .sidebar>div {
    padding: 10px;
    border: transparent 2px solid;
}

.stranke .sidebar>div.active {
    /* border: #ed1c24 2px solid; */
    background-color: #8AB1F9;
}

.stranke .category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stranke .category-item svg {
    min-width: 20px;
    padding-left: 10px;
}

.stranke .sidebar a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.stranke .sidebar a:hover {
    text-decoration: underline;
}

.demand-quiz {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    flex-grow: 1;
}

@media (min-width: 992px) {
    .demand-quiz {
        padding-left: 30px;
        padding-right: 0;
        padding-top: 0;
    }
}

.demand-quiz input[type="radio"] {
    width: unset;
    height: unset;
}

.demand-quiz h2 {
    font-size: 24px;
}

.demand-quiz h2:first-child {
    margin-top: 0;
}

.demand-quiz h4 {
    margin-bottom: 0;
}

.demand-answer-form:not(:first-of-type) {
    margin-top: 50px;
}

.demand-answer-form p strong {
    font-weight: 700;
}

.form-comment {
    margin: 30px 0;
}

.form-comment label {
    display: block;
    margin-bottom: 5px;
}

.form-comment.hidden {
    display: none;
}

.form-agree-radio {
    margin: 5px 0;
}

.form-agree-radio input {
    margin: 0 5px 0 0;
}

.form-agree-radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.quiz-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    flex-grow: 1;
}

@media (min-width: 992px) {
    .quiz-body {
        padding-left: 30px;
        padding-right: 0;
        padding-top: 0;
    }
}

.quiz-body .button-wrapper,
.demand-quiz .button-wrapper {
    text-align: center;
    padding: 20px 0;
}

.quiz-body .button,
.demand-quiz .button {
    display: inline-block;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #FFD100;
    font-weight: 600;
    text-decoration: none;
}

.quiz-body .button:hover,
.demand-quiz .button:hover {
    background-color: #FEE268;
}

.demand-quiz p,
.quiz-body p {
    font-size: 18px;
}

.summary h5 {
    margin-bottom: 10px;
}

.summary p:nth-of-type(2) {
    font-weight: bold;
}

.summary p:nth-of-type(3) {
    margin-top: 0;
    margin-bottom: 30px;
}