/* Manrope */
@font-face {
  font-display: swap;
  font-family: 'wf-manrope';
  font-style: normal;
  font-weight: 400;
  src: url('./manrope/manrope-v15-latin_latin-ext-regular.woff2') format('woff2'),
       url('./manrope/manrope-v15-latin_latin-ext-regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'wf-manrope';
  font-style: normal;
  font-weight: 700;
  src: url('./manrope/manrope-v15-latin_latin-ext-700.woff2') format('woff2'),
       url('./manrope/manrope-v15-latin_latin-ext-700.ttf') format('truetype');
}
